{% extends 'base.html' %}

{% block content %}



        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About US</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Digital Nepal </p>
                </div>
            </div>
        </header>

        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <p align="justify">

                E-commerce has transformed the way people buy and sell goods by enabling online transactions through websites and mobile 
                applications. It allows businesses to reach a wider audience without the limitations of physical stores, while customers 
                can shop conveniently from anywhere at any time. In Nepal, e-commerce platforms are growing rapidly as internet access and 
                smartphone usage continue to increase, making online shopping more popular among urban and rural users alike.
                <br/><br/>

                Digital Nepal is a national initiative aimed at transforming Nepal into a digitally empowered society and knowledge-based economy.
                 It focuses on improving digital infrastructure, online services, and technology adoption in sectors like education, health, 
                 agriculture, and governance. Through this vision, the government aims to enhance efficiency, transparency, and accessibility 
                 of services while promoting innovation and digital literacy among citizens.
                 <br/><br/>

                Together, e-commerce and Digital Nepal play a crucial role in shaping the country’s economic future. E-commerce supports local 
                entrepreneurs by providing digital marketplaces, while Digital Nepal creates the foundation needed for such systems to grow. 
                As these two areas develop, they help increase employment opportunities, boost the economy, and connect Nepal more effectively to 
                the global digital world.

                </p>
            </div>

 
{% endblock %}